@model List<User>
@{
    ViewData["Title"] = "Users";
}

<h1 class="mb-5">User Management</h1>

<div class="row g-3 justify-content-center">
    @foreach (var user in Model)
    {
        <div class="col-9">
            <div class="rounded-3 shadow-sm p-3 bg-body-secondary">
                <div class="row row-cols-6 fw-bold">
                    <span class="col-3">Username</span>
                    <span class="col">Admin?</span>
                    <span class="col">Registered?</span>
                    <span class="col">Login Attempts</span>
                    <span class="col">Blocked?</span>
                </div>
                <div class="row row-cols-6 mt-2">
                    <span class="col-3">@user.Username</span>
                    <span class="col">@user.HasAdminPrivileges</span>
                    <span class="col">@user.IsPasswordInitialized</span>
                    <span class="col">@user.LoginAttemptsCount</span>
                    <span class="col">@user.IsBlocked</span>
                </div>
                <div class="row row-cols-6 mt-2 justify-content-end">
                    <div class="col-3">
                        @if (user.IsBlocked)
                        {
                            <form method="post" asp-action="UnblockUser" asp-asp-controller="Admin">
                                <input type="hidden" name="username" value="@user.Username" />
                                <button type="submit" class="btn btn-success w-100" @(user.HasAdminPrivileges ? "disabled" : "")>Unblock</button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-action="BlockUser" asp-asp-controller="Admin">
                                <input type="hidden" name="username" value="@user.Username" />
                                <button type="submit" class="btn btn-danger w-100" @(user.HasAdminPrivileges ? "disabled" : "")>Block</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
