@model List<User>
@{
    ViewData["Title"] = "Users";
}

<h1 class="mb-5">User Management</h1>

<div class="row g-3 justify-content-center">
    @foreach (var user in Model)
    {
        <div>
            <div class="rounded-3 shadow-sm p-3 bg-body-secondary">
                <div class="row fw-bold">
                    <span class="col-2">Username</span>
                    <span class="col-2">Admin?</span>
                    <span class="col-2">Registered?</span>
                    <span class="col-2">Login Attempts</span>
                    <span class="col-2">Password Restriction?</span>
                    <span class="col-2">Blocked?</span>
                </div>
                <div class="row mt-2">
                    <span class="col-2">@user.Username</span>
                    <span class="col-2">@user.HasAdminPrivileges</span>
                    <span class="col-2">@user.IsPasswordInitialized</span>
                    <span class="col-2">@user.LoginAttemptsCount</span>
                    <span class="col-2">@user.PasswordRestrictionsEnabled</span>
                    <span class="col-2">@user.IsBlocked</span>
                </div>
                <div class="row mt-2 justify-content-end">
                    <div class="col-2">
                        @if (user.PasswordRestrictionsEnabled)
                        {
                            <form method="post" asp-action="DisablePasswordRestrictions" asp-asp-controller="Admin">
                                <input type="hidden" name="username" value="@user.Username" />
                                <button type="submit" class="btn btn-success w-100">Disable</button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-action="EnablePasswordRestrictions" asp-asp-controller="Admin">
                                <input type="hidden" name="username" value="@user.Username" />
                                <button type="submit" class="btn btn-danger w-100">Enable</button>
                            </form>
                        }
                    </div>
                    <div class="col-2">
                        @if (user.IsBlocked)
                        {
                            <form method="post" asp-action="UnblockUser" asp-asp-controller="Admin">
                                <input type="hidden" name="username" value="@user.Username" />
                                <button type="submit" class="btn btn-success w-100" @(user.HasAdminPrivileges ? "disabled" : "")>Unblock</button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-action="BlockUser" asp-asp-controller="Admin">
                                <input type="hidden" name="username" value="@user.Username" />
                                <button type="submit" class="btn btn-danger w-100" @(user.HasAdminPrivileges ? "disabled" : "")>Block</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
